@import '../variables';

.news-item {
  margin-bottom: 34px;

  @media (max-width: $breakpoint-tablet) {
    margin-bottom: 13px;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 15px;
    cursor: pointer;

    a {
      color: $green;

      &:hover {
        color: $green;
      }
    }
  }

  &__text {
    $lineHeight: 1.4em;
    $clamp: 6;

    margin-bottom: 15px;
    font-size: 1rem;
    letter-spacing: .7px;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    line-height: $lineHeight;
    height: $lineHeight * $clamp;
  }

  &__date {
    font-style: italic;
    color: $green;
    margin-bottom: 8px;
  }

  &__full-news {
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;

    a {
      color: $black;

      &:hover {
        color: $black;
      }
    }
  }

  &__date,
  &__full-news {
    font-size: 14px;
    line-height: 17px;
  }

  @media (max-width: $breakpoint-mobile) {
    &__title {
      font-size: 0.9rem;
    }

    &__text {
      font-size: 0.8rem;
    }

    &__date {
      margin-bottom: 4px;
    }

    &__date,
    &__full-news {
      font-size: 0.75rem;
    }
  }
}