$gray-bg:                 #C4C4C4;
$light-gray-bg:           #E4E4E4;
$dirty-gray-bg:           #545250;
$green-bg:                #00B765;
$light-green:             #00FF83;

$dirty-white:             #FEFEFE;
$white:                   #FFFFFF;
$black:                   #000000;
$green:                   #00A05A;


$breakpoint-desktop:          1200px;
$breakpoint-tablet:           768px;
$breakpoint-phone:            540px;

$lg: 1200px;
$md: 768px;
$sm: 540px;