@import './variables';

.bank-info {
  margin-top: 20px;
  margin-bottom: 45px;
  padding: 0;

  @media (max-width: $md) {
    padding: 0 30px;
  }

  .about-tax {
    margin-right: 15px;

    @media (max-width: $md) {
      margin-right: 30px;
    }
  }
}