@import './variables';

.bank-info {
  margin-top: 20px;
  margin-bottom: 45px;
  padding: 0;

  @media (max-width: $breakpoint-tablet) {
    padding: 0 15px;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 0;
  }

  .about-tax {
    margin-right: 15px;

    @media (max-width: $breakpoint-tablet) {
      margin-right: 0;
    }
  }
}