@import './variables';

.consultants-list {
  margin-top: 50px;
  margin-bottom: 40px;

  &__table-overflow {
    overflow-x: auto;
  }

  &__table {
    width: 100%;
    
    thead {
      position: relative;
      vertical-align: baseline;
      white-space: nowrap;

      @media (max-width: $breakpoint-tablet) {
        font-size: 14px;
      }
      @media (max-width: $breakpoint-mobile) {
        font-size: 12px;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        height: 2px;
        width: 100%;
        background-color: $gray-bg;
      }

      th {
        position: relative;
        height: 50px;
        padding: 0 5px;
        color: $green;

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(0, -50%);
          width: 2px;
          height: 90%;
          background-color: $gray-bg;
        }
      }

      th:nth-last-child(1) {
        &::after {
          display: none;
        }
      }
    }

    tbody {
      tr:nth-child(2n) {
        background-color: $light-gray-bg;
      }
  
      td {
        padding: 16px 5px;
        text-align: center;

        a {
          color: $black;
        }
      }

      @media (max-width: $breakpoint-tablet) {
        font-size: 13px;
      }

      @media (max-width: $breakpoint-mobile) {
        font-size: 10px;
      }
    }
  }
}