@import './variables';

.electronic-appeal {
  .title {
    margin-top: 30px;
    margin-bottom: 15px;

    @media (max-width: $breakpoint-mobile) {
      position: relative;
      padding-bottom: 10px;
      margin-bottom: 5px;
      font-size: 13px;
      font-weight: 700;

      &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
  
        width: 99px;
        height: 5px;
        background: $green-bg;
      }
    }
  }

  &__text {
    margin-bottom: 74px;

    ul {
      padding-left: 30px;

      li {
        margin-bottom: 5px;
      }
    }

    @media (max-width: $breakpoint-mobile) {
      margin-bottom: 30px;
      font-size: 12px;

      ul {
        padding-left: 0;
      }
    }
  }

  @media (max-width: $breakpoint-mobile) {
    text-align: center;
    list-style-position: inside;
  }
}