@import './variables';

.footer {
  border-bottom: 49px solid $gray-bg;
  background-color: $green-bg;

  @media (max-width: $breakpoint-tablet) {
    border-bottom: 20px solid $gray-bg;
  }

  @media (max-width: $breakpoint-mobile) {
    border-bottom: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 20px;

    @media (max-width: $breakpoint-tablet) {
      padding-top: 25px;
      padding-bottom: 10px;
    }

    @media (max-width: $breakpoint-mobile) {
      align-items: center;
    }

    &-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 35px;
      
      @media (max-width: $breakpoint-tablet) {
        margin-bottom: 18px;
      }

      @media (max-width: $breakpoint-mobile) {
        flex-direction: column;
        margin-bottom: 18px;
      }
  
      .footer-contacts {
        display: flex;
        flex-direction: column;

        &__item {
          display: flex;
          align-items: center;
          margin-bottom: 15px;
          font-size: 0.875rem;
          color: $white;

          .text-location {
            padding-left: 9px;
          }
          .text-phone {
            padding-left: 15px;
          }
          .text-mail {
            padding-left: 15px;
          }
        }

        @media (max-width: $breakpoint-tablet) {
          &__item {
            margin-bottom: 10px;
            font-size: 11px;

            svg {
              width: 17px;
            }
          }
        }

        @media (max-width: $breakpoint-mobile) {
          order: 2;
          align-items: center;
          margin-bottom: 5px;

          &__item {
            font-size: 9px;

            svg {
              display: none;
            }
          }
        }
      }

      .logo {
        position: relative;
        left: -5%;
  
        @media (max-width: $breakpoint-tablet) {
          img {
            max-width: 144px;
          }
        }

        @media (max-width: $breakpoint-mobile) {
          order: 1;
          left: 1%;
          margin-bottom: 9px;

          img {
            max-width: 91px;
          }
        }
      }
  
      .social {
        display: flex;
        flex-direction: column;
        text-align: right;
  
        &__title {
          color: $white;
          font-size: 0.875rem;
        }
  
        .social-bar {
          display: flex;
          justify-content: flex-end;
          margin-bottom: 7px;

          img {
            width: 39px;
            height: 39px;
          }
        }

        @media (max-width: $breakpoint-tablet) {
          &__title {
            font-size: 12px;
          }

          .social-bar {
            margin-bottom: 5px;

            img {
              max-width: 24px;
              max-height:24px ;
            }
          }
        }
        
        @media (max-width: $breakpoint-mobile) {
          order: 3;

          .social-bar {
            justify-content: center;
            margin-bottom: 3px;

            img {
              max-width: 13px;
              max-height: 13px;
            }
          }
        }
      }
    }
  }

  &__copyright {
    color: $white;
    font-size: 0.75rem;
    text-align: center;

    span {
      position: relative;
      right: -3%;
    }

    @media (max-width: $breakpoint-tablet) {
      font-size: 12px;
    }

    @media (max-width: $breakpoint-mobile) {
      font-size: 6px;
    }
  }
}