@import './variables';

.full-ivent-info {
  margin-top: 70px;
  margin-bottom: 30px;

  ul {
    padding-left: 20px;
  }

  .text {
    margin-bottom: 30px;
  }

  hr {
    margin-bottom: 70px;

    @media (max-width: $breakpoint-tablet) {
      margin-bottom: 50px;
    }
  }

  @media (max-width: $breakpoint-tablet) {
    margin-top: 30px;
  }
}