@import './variables';

.full-ivent-info {
  margin-top: 70px;
  margin-bottom: 30px;

  ul {
    margin-top: 1rem;
    padding-left: 20px;

    li {
      margin-bottom: 0.5em;
    }
  }

  .text {
    margin-bottom: 30px;
  }

  hr {
    margin-bottom: 70px;

    @media (max-width: $breakpoint-tablet) {
      margin-bottom: 50px;
    }
  }

  @media (max-width: $breakpoint-tablet) {
    margin-top: 30px;
  }

  @media (max-width: $breakpoint-mobile) {
    .text {
      margin-bottom: 20px;
      font-size: 11px;
    }

    hr {
      margin-bottom: 20px;
    }
  }
}