@import './variables';

.header-baner {
  position: relative;

  &__title {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: $white;
  }

  @media (max-width: $breakpoint-tablet) {
    height: 150px;

    img {
      height: 100%;
    }

    &__title {
      top: 40%;
      font-size: 18px;
    }
  }
}