@import './variables';

.main-slider {
  @media (max-width: $breakpoint-mobile) {
    display: none !important;
  }

  .slide {
    display: flex !important;
    justify-content: center;
    align-items: center;

    &__title {
      position: absolute;

      text-transform: uppercase;
      text-align: center;
      font-size: 36px;
      color: $white;

      @media (max-width: $breakpoint-tablet) {
        font-size: 18px;
      }
    }
  }

  .slider-dots {
    display: flex;
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translate(-50%, 0);
    list-style: none;

    li {
      margin-right: 14px;
    }
  }

  .slider-dots button {
    position: relative;
    font-size: 0;

    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid $white;
    background-color: transparent;
    cursor: pointer;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      
      width: 8px;
      height: 8px;
      background: $white;
      border-radius: 50%;
    }

    &:hover {
      &::before {
        background: $green-bg;
      }
    }
  }

  .slick-active button {
    &::before {
      background: $green-bg;
    }
  }

  @media (max-width: $breakpoint-mobile) {
    display: none;
  }
}