@import './variables';

.pagination {
  position: relative;
  background: linear-gradient(-60deg,$gray-bg 49%,transparent 0);
  margin-bottom: 26px;

  &::before {
    content: '';
    position: absolute;
    display: block;
    background: $gray-bg;
    right: calc((-100vw - -#{$lg} - 12px) / 2);
    top: 0;
    height: 100%;
    width: calc((100vw - #{$lg} + 12px) / 2);
  }

  @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop - 15) {
    background: linear-gradient(-60deg,$gray-bg 43%,transparent 0);
    margin-right: -15px;
  }

  ul {
    display: flex;
    list-style: none;

    li {
      width: 39px;
      height: 39px;
      margin-right: 6px;
      

      a {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;

        border: 2px solid $gray-bg;
        font-size: 24px;
        font-weight: 500;
        color: $gray-bg;
        text-align: center;
      }

      &.active {
        a {
          border: 2px solid $green;
          color: $green;
        }
      }
    }

    @media (max-width: $breakpoint-mobile) {
      li {
        width: 21px;
        height: 21px;
        margin-right: 2px;
  
        a {
          font-size: 16px;
        }

        svg {
          width: 6px;
        }
      }
    }
  }

  @media (max-width: $breakpoint-tablet) {
    background: transparent;
    margin-top: 35px;

    ul {
      justify-content: center;
    }
  }
}