@import './variables';

.partners-list {
  margin-top: 70px;

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
  }

  .col {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: $breakpoint-mobile) {
    margin-top: 0;

    &__title {
      font-size: 13px;
      text-align: center;
      line-height: 1.1;
    }

    .row {
      flex-direction: row;
    }
  }
}